@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	color: white;
}

body {
	background-color: rgb(30, 30, 30);
}
#background {
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
}

/*main page heading and sub heading*/
#mainTitle {
	position: fixed;
	top: 31vh;
	left: 10vw;
	height: 1ch;
	font-size: 10ch;
	text-shadow: 2px 2px #3fd1ff;
}

#mainSubtitle {
	position: fixed;
	top: calc(27vh + 150px);
	left: 10.5vw;
	font-size: 5ch;
	text-shadow: 2px 2px #3fd1ff;
}

#turn {
	position: fixed;
	top: 97.5vh;
	left: 10px;
	font-size: 0.75ch;
	text-decoration: underline;
}

@media screen and (max-width: 700px) {
	#mainTitle {
		font-size: 6ch;
	}

	#mainSubtitle {
		font-size: 3ch;
	}
}

@media screen and (max-width: 450px) {
	#mainTitle {
		position: fixed;
		top: 25vh;
		left: calc(100vw / 100);
		font-size: 8ch;
		text-align: center;
	}

	#mainSubtitle {
		position: fixed;
		top: 65vh;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 2ch;
		white-space: nowrap;
	}
}
